<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  POC julie (10-14-2021) dynamic menu from with graphQL
</mat-toolbar>


<mat-sidenav-container *ngIf="menuList.length">
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button mat-button class="menu-button" *ngFor="let item of menuList">
      <mat-icon>home</mat-icon>
      <span>{{item.title}}</span>
    </button>
 <!--   <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>-->
    </mat-sidenav>
  </mat-sidenav-container>

